extends layout

block content
  h1= title
  p Welcome to #{title}
  p I hope that #{name} you really enjoy the course in #{course} today.
  ol
   h2 List of Priorities
   li Do this first
   li And second
   li And third
   ul
    li here
    li there
    li everywhere
  h1 Here is a story
  h2 It's a story by #{author}
  h3 Enjoy!
