extends layout

block content
  h1= title
  p Welcome to #{title}
  p I hope that #{name} you really enjoy the course in #{course} today.
  h2 List of Priorities
  ol
   li Do this first
   li And second
   li And third
  h2 List of Users
  ul
   li #{user1}
   li #{user2}
   li #{user3}
  h2 List of Friends
  ul
   each friend in friends
    li= friend
  h2 Enemies
  ul
   each enemy in enemies
    li= enemy

