extends layout

block content
  h1= title
  p Welcome to #{title}
  p I hope that you have a great day #{name}
  p I hope that you are able to learn #{language} well, #{name}.
  ul 
   h2 List of priorities
   li Learn
   li Videos
    ul
     li Jade
     li Node..

